<div
   id="1"
   class="w-full vignette discover-banner max-w-full text-white px-8 rounded-b-lg pt-12 mb-10"
   style="background: #0c0c0cfc;"
>
   <h1 id="c1" class="uppercase mb-4">
      <div id="announcement_type" class="hidden">NOTICE_CRITICAL</div>
      <div class="text-xl font-semibold">BREAKING CHANGE</div>
      <div class="text-red-400 text-4xl font-extrabold" style="">CRITICAL NOTICE</div>
      <div class="text-3xl font-semibold">
         Due to some codebase changes in Blaze, the <code class="text-blue-400 cursor-pointer" onclick="openILL()">InstallList</code> you are
         currently using is now incompatible with the launcher.
      </div>
      <div class="text-yellow-400 text-2xl font-semibold">
         Learn how to fix this in our
         <a
            href="https://github.com/Trail-Blaze/Otto/wiki/Migrating-Your-InstallList-Over-to-the-New-Format"
            target="__blank"
            class="text-blue-400"
            >Knowledge-base article</a
         >.
      </div>
   </h1>
</div>
