<div
   id="1"
   class="w-full vignette discover-banner max-w-full text-white px-8 rounded-b-lg pt-12 mb-10"
   style="
      background: url('https://raw.githubusercontent.com/Trail-Blaze/cdn/main/fileTypes/png/rocket.webp')
         0% 0% / cover no-repeat;
      height: 35vh;
   "
>
   <div id="announcement_type" class="hidden">FEATURE</div>
   <div id="t1" class="font-normal mb-4">Rocket</div>
   <h1 id="c1" class="uppercase mb-4">
      <div class="text-5xl font-semibold">Blaze now has a CLI!</div>
   </h1>
   <p id="c1-2" class="w-70 leading-normal text-gray-lighter pb-10">
      <a
            href="https://github.com/Trail-Blaze/Rocket"
            target="__blank"
         class="text-orange-400">Check it out</a>
   </p>
</div>
